version: '3.8'

services:
  app:
    # 1. Build image dari folder ini
    build: .

    # 2. Nama container biar gampang dicari (opsional)
    container_name: backend-ikan-app

    # 3. Port biasanya sama (3000)
    ports:
      - "3000:3000"
