version: '3.8'

services:
  app:
    # Build image dari Dockerfile di folder ini
    build: .

    # Gantikan -p 3000:3000
    ports:
      - "3000:3000"

    # Gantikan -v (Volume Mounting)
    # Ini membuat codingan di Lubuntu kamu 'mirroring' ke dalam container
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules # Trik penting! (baca penjelasan di bawah)

    # Gantikan -e (Environment Variables)
    # Dia akan otomatis baca file .env kamu
    env_file:
      - .env

    # Gantikan CMD default. Kita pakai 'dev' biar ada nodemon
    command: npm run dev
